

  <ul class="list">
    <% @events.each do |event| %>
      <li class="list-item">
        <div class="list-content">
          <%= link_to image_tag(event.logo), event_info_path(event) %>
          <p class="desc"><%= event.name %></p>
        </div><!--list-content-->
      </li><!--list-item-->
    <% end %>



    <% if @events.blank? %>
    <h4>There are no events containing the term <%= params[:search] %>.</h4>
    <div id= "error-back"></div>
    <% end %>

  <ul><!--list-->
