// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-section {
    padding: .1em 0em;
};

#scrollable-content {
    height: 250px;
    overflow: auto;
    background-color: white;
};

p {
    font-size: 1.7em;
    width: 100%;
    font-family: arial, sans-serif;
    margin-left: 10px;
}
