//nav

#nav-div{
  height:8.9em;
  background-color: #f67f00;
  margin-top: -1em;
}

#nav-text{
  display: inline-block;
  font-size: 5em;
  color: white;
  font-family: 'BioRhyme', serif;
  margin-left: 3.4em;
  padding-top: 20px;
}

.btn-default{
  font-size: 4em;
  float: right;
  margin-right: .17em;
  margin-top: .40em;
}

//nav

.input-group{
  width: 70%;
}

.form-control{
  font-size: 3em;
  width: 79.6% !important;
}

.input-group-btn{
  font-size: 1em;
}

.btn-basic{
  font-size: 3em;
  padding: .75em;
}
//search bar

//Events
.card {
    width: 100vw;
    word-break: break-all;
    font-size: 3em;
    margin-left: 0;
    margin-right: 0;
    font-weight:bold;
    font-family: 'BioRhyme', serif;
    text-shadow: 4px 4px black;
    color: #f67f00;
}

#event {
    width: 100vw;
    word-break: break-all;
    font-size: 3em;
    margin-left: 0;
    margin-right: 0;
    font-weight:bold;
    font-family: 'BioRhyme', serif;
    color: white;
}

img{
  width:100vw;
  color: white;
  font: bold 12px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

#event_name{
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -12rem;
  width: 100;
  height: 12rem;
  overflow:hidden;
}

#event_name_wrapper{
  height:0;
}
//Events

//Errors
h4{
  font-family: 'BioRhyme', serif;
  font-weight: bold;
  color: white;
  font-size: 6em;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center
}

#error-back{
  background-image:url(https://media.giphy.com/media/1RkDDoIVs3ntm/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
