// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.log-in-submit {
  position: absolute;
  bottom: 140px;
  background-color: #f67f00;
  height: 3em;
  width: 100%;
  text-align: center;
  margin-left: -10px;
  color:white;
  font-size: 3em;
}
.button-log-in {
  /*text-align: center;*/
  margin-top: 35px;
  color: white;
  font-size: 60px;
  /*padding: .5em;*/
  background-color: #f67f00;
}

.log-in-password {
  position: absolute;
  bottom: 580px;
  color: #f67f00;
  margin-left: 50px;
  font-size: 35px;
}

#user_password {
  width: 698px;
  height: 30px;
  border-style: none;
  border-bottom: 2px solid #f67f00;
  background-color: white;
  margin-left: 10px;
}

.log-in-email {
  position: absolute;
  bottom: 698px;
  color: #f67f00;
  margin-left: 50px;
  font-size: 35px;
}

#user_email {
  width: 750px;
  height: 30px;
  border-style: none;
  border-bottom: 2px solid #f67f00;
  background-color: white;
  margin-left: 10px;
}

.sign-up-name {
  position: absolute;
  bottom: 815px;
  color: #f67f00;
  margin-left: 50px;
  font-size: 35px;
}

#user_name {
  width: 750px;
  height: 30px;
  border-style: none;
  border-bottom: 2px solid #f67f00;
  background-color: white;
  margin-left: 10px;
}

a:link,
a:visited,
a:hover,
a:active{
  color:inherit;
  text-decoration: none !important;
}
