#logo{
  max-height: 50vh;
}

.sign-up-submit {
  margin-top: .5vh;
  height: 6vh;
  background-color: #f67f00;
  width: 100vw;
  text-align: center;
  max-width: 400px;
  color: white;
  font-size: 2vh;
  position:absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin:0 auto;
}

.form{
  color: #f67f00;
  width: 75vw;
  max-width: 700px;
  max-height: 40vh;
  box-sizing: border-box;
  align-content: center;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 25px;
  position:absolute;
  top:50vh;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin:0 auto;
}

.form-control{
  font-size: 1.5em;
  color: #f67f00!important;
  position:relative;
  width:100% !important;
  margin-top: 0;
  border-bottom: 2px solid #f67f00 !important;
  border-top: 0!important;
  border-left: 0!important;
  border-right:0!important;
  box-shadow: none!important;
}

input{
  width:100vw;
}

a:link,
a:visited,
a:hover,
a:active{
  color:inherit;
  text-decoration: none !important;
}
